.card {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: flex-start;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    border: 1px solid rgb(230, 230, 230);
    transition: background-color 0.1s ease-in-out;
}

.cardContent {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.description {
    margin: 0;
    transition: color 0.1s ease-in-out;
}

.title {
    margin: 0;
    font-size: 19px;
    font-weight: 500;
    transition: color 0.1s ease-in-out;
}

.more {
    text-decoration: underline;
}