.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.card {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
     min-height: 135px;
    border: 1px solid rgb(230, 230, 230);
    transition: background-color 0.1s ease-in-out;
}

.cardLight {
    background-color: white;
}

.cardDark {
    background-color: rgb(95, 95, 95);
}

.title {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    transition: color 0.1s ease-in-out;
}

.textLight {
    color: black;
    transition: color 0.1s ease-in-out;
}

.textDark {
    color: white;
    transition: color 0.1s ease-in-out;
}