.card {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 25px;
    min-height: 135px;
    border: 1px solid rgb(230, 230, 230);
    transition: background-color 0.1s ease-in-out;
}

.title {
    margin: 0;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    transition: color 0.1s ease-in-out;
}