.card {
    display: flex;
    flex-direction: row;
    column-gap: 25px;
    align-items: center;
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    border: 1px solid rgb(230, 230, 230);
    transition: background-color 0.1s ease-in-out;
}

.cardLight {
    background-color: white;
}

.cardDark {
    background-color: rgb(95, 95, 95);
}

.description {
    margin: 0;
    transition: color 0.1s ease-in-out;
}

.textLight {
    color: black;
    transition: color 0.1s ease-in-out;
}

.textDark {
    color: white;
    transition: color 0.1s ease-in-out;
}

.completed {
    text-decoration: line-through;
}